div {
    width: 80vw;
    margin-top: 60px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    width: 100%;
  }

  @keyframes colorChange {
    0% { fill: red; }
    50% { fill: blue; }
    100% { fill: red; }
}

.cls-1 {
    animation: colorChange 2s infinite, wave 5s infinite alternate;
    transform-origin: center;
}

.cls-1:nth-child(1) {
    animation-delay: 0.25s;
}

.cls-1:nth-child(2) {
    animation-delay: .5s;
}
.cls-1:nth-child(3) {
    animation-delay: .75s;
}

.cls-1:nth-child(4) {
    animation-delay: 1s;
}
.cls-1:nth-child(5) {
    animation-delay: 1.25s;
}

.cls-1:nth-child(6) {
    animation-delay: 1.5s;
}
.cls-1:nth-child(7) {
    animation-delay: 1.75s;
}

.cls-1:nth-child(8) {
    animation-delay: 2s;
}
.cls-1:nth-child(9) {
    animation-delay: 2.25s;
}

.cls-1:nth-child(10) {
    animation-delay: 2.5s;
}

@keyframes wave {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}